.normalt{font-family:verdana,arial;font-size:11px;color:#565050;line-height:14px;}

.normalct{font-family:verdana,arial;font-size:13px;color:#565050;line-height:16px;}

.normals{font-family:verdana,arial;font-size:11px;}

.normalc{font-family:verdana,arial;font-size:11px;color:#0F0D13}

.normalb{font-family:verdana;font-size:12px;color:#1E1515}

.title{font-family:verdana;font-size:12px;color:#0D547A;text-decoration:underline;font-weight:bold}

.normalp{font-family:verdana,arial;font-size:11px;line-height:16px;text-align:justify color:#0F0D13}


a.brandtext{color:#055867;text-decoration:none;}
a:hover.brandtext{color:#FF6E0E;text-decoration:none;}

a.brandtext1{color:#565050;text-decoration:none;}
a:hover.brandtext1{color:#FF6E0E;text-decoration:none;}

a.brandtext2{color:#ffffff;text-decoration:none;}
a:hover.brandtext2{color:#94EEFC;text-decoration:none;}




